<a href="https://colab.research.google.com/github/viasmo1/edem_statistics_python/blob/main/SF_Crime_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SF Crime Analysis**

En este colab analizamos el dataset SF Crime Dataset.

### Descripción de la naturaleza y el origen del dataset

Se trata de un dataset extraído de [kaggle.com](https://www.kaggle.com). Se puede acceder al mismo en este [link](https://www.kaggle.com/roshansharma/sanfranciso-crime-dataset)

## Análisis

### Importar librerias

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Cargar dataset

In [2]:
sf_crime = pd.read_csv("https://raw.githubusercontent.com/viasmo1/edem_statistics_python/main/Police_Department_Incidents_-_Previous_Year__2016.csv")
sf_crime

        IncidntNum  ...            PdId
0        120058272  ...  12005827212120
1        120058272  ...  12005827212168
2        141059263  ...  14105926363010
3        160013662  ...  16001366271000
4        160002740  ...  16000274071000
...            ...  ...             ...
150495   161061000  ...  16106100004134
150496   176000742  ...  17600074271000
150497   176000758  ...  17600075806372
150498   176000764  ...  17600076406374
150499   179002868  ...  17900286809024

[150500 rows x 13 columns]

#### Columns

In [3]:
sf_crime.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'],
      dtype='object')

#### Shape, head, tail

In [ ]:
sf_crime.shape

In [8]:
sf_crime.head(5)

   IncidntNum  ...            PdId
0   120058272  ...  12005827212120
1   120058272  ...  12005827212168
2   141059263  ...  14105926363010
3   160013662  ...  16001366271000
4   160002740  ...  16000274071000

[5 rows x 13 columns]

In [9]:
sf_crime.tail(5)

        IncidntNum  ...            PdId
150495   161061000  ...  16106100004134
150496   176000742  ...  17600074271000
150497   176000758  ...  17600075806372
150498   176000764  ...  17600076406374
150499   179002868  ...  17900286809024

[5 rows x 13 columns]